h1{
    color: brown;
}
.center{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: aquamarine;
}
.container{
    border: 1px solid blue;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.content{
    border: 1px solid red;
}
button{
    padding: 20px;
    background-color: pink;
}
button:hover{
    background-color: orange;
}
